@font-face {
    font-family: 'MB';
    src: url(../Fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'MM';
    src: url(../Fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "MR";
    src: url(../Fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "PO";
    src: url(../Fonts/ProstoOne-Regular.ttf);
}
